h1 {
    font: sans-serif;
}

pElShape {
    color: #FF971C;
}

pReverseElShape {
    color: #0341AE;
}

pTBlockShape {
    color: #a400ff;
}

pTetrisShape {
    color: #00efff;
}

pZshape {
    color: #FF3212;
}

pReverseZShape {
    color: #72CB3B;
}