h1 {
    font: sans-serif;
}

.ElShape {
    color: #FF971C;
}

.ReverseElShape {
    color: #0341AE;
}

.TBlockShape {
    color: #a400ff;
}

.TetrisShape {
    color: #00efff;
}

.Zshape {
    color: #FF3212;
}

.ReverseZShape {
    color: #72CB3B;
}

.grid {
    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid #000;
    display: inline-block;
}