h1 {
    font: sans-serif;
}

.ElShape {
    color: #FF971C;
}

.ReverseElShape {
    color: #0341AE;
}

.TBlockShape {
    color: #a400ff;
}

.TetrisShape {
    color: #00efff;
}

.Zshape {
    color: #FF3212;
}

.ReverseZShape {
    color: #72CB3B;
}

.grid {
    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid #000;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
}

#container {
	/* position: relative; */
	top: 30px;
	outline:2px solid #000;
	font-size: 0;
	margin:auto;
	height:800px;
	width:480px;
	padding: 0;
	border: none;
}